/*-- Mobile First CSS --*/

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.bg {
  position: fixed;
  top: 55%;
  left: 50%;
  width: 200%;
  height: 200%;
  object-fit: cover;
  transform: translate(-50%, -50%) scale(0.50);
  transform-origin: center center;
  z-index: -1;
}

/* color overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(60, 47, 47, 0.5);
  z-index: 0;
  pointer-events: none; /* don’t block clicks */
}

header, main {
  position: relative;
}

main {
  padding-top: 37px;
}

nav {
    background-color: #3C2F2F;
    height: 58px;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 1000;
    top: 0;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

nav a {
      color: white;
      text-decoration: none;
      font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.nav-icon img {
    height: 48px;
    width: 48px;
    cursor: pointer;
    padding: 5px;
    
}

/* hamburger icon */
.hamburger {
  margin-left: auto;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 24px;
  height: 3px;
  background: #fff;
}

/* hide menu items on mobile as they should only be shown on desktop */
.menu {
  display: none;
}

.home-page-center-logo img {
    display: block;
    margin: 0 auto;
    max-width: 170px;
    height: 170px;
}

.center-wrap {
    text-align: center;
}

.homepage-title {
    color: white;
    font-size: 32px;
}

.open-hours-sign {
  display: flex;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 270px;
}

.open-sign {
    background-color: rgba(60, 47, 47, 0.7);
    color: white;
    text-align: center;
    padding: 0px 20px 20px 20px;
    border: 2px solid white;
    border-radius: 10px;
    backdrop-filter: blur(4px);
    width: 170px;
    height: 120px;
}

.open-sign h1 {
    font-size: 2em;
    font-weight: bold;
}

.divider {
    height: 1px;
    background: white;
    margin: 10px auto;
    width: 60%;
}

.open-sign p {
    margin: 5px 0;
    font-size: 1.1em;
}

/* About us */
.aboutus-title {
  background-color: white;
  padding: 30px;
  font-size: 32px;
  margin: 0px;
}

.about-us-card-container {
  background-color: #3C2F2F;
  height: 415px;
}

.about-us-gallery {
  background-color: #fff;
  height: 220px;
}

.giveaway-title {
  color: white;
  padding: 30px;
  font-size: 32px;
  margin: 0px;
}

.giveaway-text {
  color: white;
  padding: 0 30px;
  font-size: 18px;
  margin: 0px;
}

.giveaway-container {
  background-color: #3C2F2F;
  height: 480px;
}

.sign-up-container {
  padding: 40px;
}

.contact-us-title {
  color: white;
  font-size: 32px;
  padding-top: 36px; 
}

.contact-us-subtitle {
  color: white;
  font-size: 18px;
  padding: 50px 50px 100px 50px;
  margin: 50px;
}

.location-container {
  background-color: #3C2F2F;
}

h1, p {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  color: white;
}

ul {
  margin-left: 15%;
  margin-right: 15%;
  list-style-position: inside;
  text-align: left;
}

li {
  margin-bottom: 5px;
  text-align: left;
  color: white;
}
main section {
  background-color: #2B2727;
  padding-top: 25px;
  min-height: calc(100vh - 62px);
}